@import "../../variables.scss";

.wrapper {
  width: 400px;
  div:nth-child(1) {
    display: flex;
    justify-content: center;
  }
  div:nth-child(2) {
    border-radius: 20px;
  }
}

//!----------------------------------------------TABLET---------------------------------------------------------
@media (max-width: $tablet) {
}

//!----------------------------------------------MOBILE---------------------------------------------------------
@media (max-width: $mobile) {
}
