/* тут прописати константи */

/* Container */
$mobile: 425px;
$tablet: 768px;
$pc: 1236px;

/* Colors */
$clr_main: #000000;
$clr_headers: #617192;
$clr_subheaders: #161718;
$clr_text: #6c7588;
$clr_background: #e5e5e5;
$clr_active: #0808fd;
$clr_hover: #1890ff;
